# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randint(1,21,size=(6,4)),columns=['A','B','C','D'])
print(df)
df.set_index('A',inplace=True)
print(df)

    A   B   C   D
0   5  14  10  18
1  12   2  16   4
2  13  15  18  11
3  12  14   4  10
4  12   5  18  20
5   7   5   8  14
     B   C   D
A
5   14  10  18
12   2  16   4
13  15  18  11
12  14   4  10
12   5  18  20
7    5   8  14

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [9]:
df=pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print(df)
print(df.loc['Y','B'])

    A   B   C
X   7  14  56
Y  88   2  86
Z  62   4  67
2

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [ ]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)
df['A*B']=df['A']*df['B']
print(df)

    A   B   C
0  26  42  40
1  58  19  57
2  87  12  62
3   2  21  45
4  74  85  53
    A   B   C   A*B
0  26  42  40  1092
1  58  19  57  1102
2  87  12  62  1044
3   2  21  45    42
4  74  85  53  6290

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [15]:
df=pd.DataFrame(np.random.randint(1,100,size=(4,3)),columns=['A','B','C'])
print(df)
rowwise=df.sum(axis=1)
columnwise=df.sum(axis=0)
print(f"Row-Wise-Sum: {rowwise}")
print(f"Column-Wise-Sum: {columnwise}")

    A   B   C
0  28  19  71
1  17  63  73
2  53   9  52
3  52  86  93
Row-Wise-Sum: 0    118
1    153
2    114
3    231
dtype: int64
Column-Wise-Sum: A    150
B    177
C    289
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [17]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print(df)

df.fillna(df.mean(),inplace=True)
print(df)

      A     B     C
0  56.0   NaN  36.0
1  22.0  63.0  89.0
2  18.0  80.0   NaN
3   9.0   4.0  38.0
4   NaN   3.0  45.0
       A     B     C
0  56.00  37.5  36.0
1  22.00  63.0  89.0
2  18.00  80.0  52.0
3   9.00   4.0  38.0
4  26.25   3.0  45.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [21]:
df=pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['A','B','C','D'])
df.iloc[0,1]=np.nan
df.iloc[1,2]=np.nan
df.iloc[3,3]=np.nan
df.iloc[5,0]=np.nan
print(df)
df.dropna(axis=0,inplace=True)
print(df)

      A     B     C     D
0   5.0   NaN  72.0  78.0
1   9.0  18.0   NaN  93.0
2  81.0  73.0  71.0  28.0
3  20.0  31.0  81.0   NaN
4  60.0  53.0  59.0  42.0
5   NaN  42.0  95.0  56.0
      A     B     C     D
2  81.0  73.0  71.0  28.0
4  60.0  53.0  59.0  42.0

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [34]:
df=pd.DataFrame({'Category':np.random.choice(['A','B','C'],size=10),'Value': np.random.randint(1,100,size=10)})
print(df)
aggregate_result=df.groupby('Category')['Value'].agg(['sum','mean'])
print(aggregate_result)

  Category  Value
0        C     23
1        C     74
2        C     42
3        B     18
4        A     91
5        C     18
6        A     65
7        A     29
8        A     43
9        B     79
          sum   mean
Category
A         228  57.00
B          97  48.50
C         157  39.25

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [37]:
df=pd.DataFrame({'Product':np.random.choice(['Cold Drink','Sneakers','A.C'],size=10),
                 'Category':np.random.choice(['Beverage','Footwears','Electronics'],size=10),
                 'Sales':np.random.randint(1000,100000,size=10)})
print(df)
aggregate_result=df.groupby("Category")['Sales'].sum()
print(aggregate_result)

      Product     Category  Sales
0         A.C    Footwears  80536
1  Cold Drink  Electronics  26203
2         A.C    Footwears  77985
3         A.C     Beverage  27582
4         A.C    Footwears  49636
5    Sneakers     Beverage  36388
6    Sneakers     Beverage  36388
7  Cold Drink     Beverage  23629
8         A.C     Beverage  29155
9    Sneakers  Electronics  44003
Category
Beverage       153142
Electronics     70206
Footwears      208157
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [52]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print(df1)
print(df2)
merged_df=pd.merge(df1,df2,on="Key")
merged_df

  Key  Value1
0   A      32
1   B      25
2   C      64
3   D      75
  Key  Value2
0   A      25
1   B      84
2   C      45
3   E      69

  Key  Value1  Value2
0   A      32      25
1   B      25      84
2   C      64      45

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [55]:

df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)
concat_rows=pd.concat([df1,df2],axis=0)
print(concat_rows)
concat_columns=pd.concat([df1,df2],axis=1)
print(concat_columns)

DataFrame 1:
    A   B
0  33  91
1  76  40
2  65  38
DataFrame 2:
    C   D
0  20   2
1  55  72
2   8  87
      A     B     C     D
0  33.0  91.0   NaN   NaN
1  76.0  40.0   NaN   NaN
2  65.0  38.0   NaN   NaN
0   NaN   NaN  20.0   2.0
1   NaN   NaN  55.0  72.0
2   NaN   NaN   8.0  87.0
    A   B   C   D
0  33  91  20   2
1  76  40  55  72
2  65  38   8  87

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [61]:
date_rng=pd.date_range(start='2025-03-01',end='2025-05-15',freq="D")
df=pd.DataFrame(date_rng,columns=['Date'])
df['Value']=np.random.randint(1,100,len(date_rng))
df.set_index("Date",inplace=True)
print(df)
mean_value=df.resample('M').mean()
print(mean_value)

            Value
Date
2025-03-01     79
2025-03-02     82
2025-03-03     64
2025-03-04     35
2025-03-05     97
...           ...
2025-05-11     95
2025-05-12     59
2025-05-13     96
2025-05-14     64
2025-05-15     50

[76 rows x 1 columns]
                Value
Date
2025-03-31  54.032258
2025-04-30  41.633333
2025-05-31  64.200000

C:\Users\DELL\AppData\Local\Temp\ipykernel_2416\322664087.py:6: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  mean_value=df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [63]:
date_rng=pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df=pd.DataFrame(date_rng,columns=['Date'])
df['Values']=np.random.randint(0,100,len(date_rng))
df.set_index('Date',inplace=True)
rolling_mean=df.rolling(window=7).mean()
print(rolling_mean)

               Values
Date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  61.142857
2021-12-28  71.571429
2021-12-29  66.142857
2021-12-30  59.714286
2021-12-31  48.857143

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [2]:
import pandas as pd
import numpy as np
arrays=[['A','A','B','B'],[1,2,1,2]]
index=pd.MultiIndex.from_arrays(arrays,names=("Category","Sub Category"))
df=pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=['Value1','Value2','Value3'])
print(df)
print(df.loc['A'])
print(df.loc[('A',2)])
print(df.loc[('A',2):('B',2),('Value1')])

                       Value1  Value2  Value3
Category Sub Category
A        1                 86      82      95
         2                 72       2      80
B        1                  6      91      20
         2                 79      35      22
              Value1  Value2  Value3
Sub Category
1                 86      82      95
2                 72       2      80
Value1    72
Value2     2
Value3    80
Name: (A, 2), dtype: int32
Category  Sub Category
A         2               72
B         1                6
          2               79
Name: Value1, dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [74]:
array=[['A','A','B','B'],[1,2,1,2]]
index=pd.MultiIndex.from_arrays(array,names=("Category",'SubCategory'))
df=pd.DataFrame(np.random.randint(1,100,size=(4,1)),index=index,columns=['Value'])
print(df)
sumvalue=df.groupby(['Category','SubCategory'])['Value'].sum()
print(sumvalue)

                      Value
Category SubCategory
A        1               90
         2               44
B        1               21
         2               94
Category  SubCategory
A         1              90
          2              44
B         1              21
          2              94
Name: Value, dtype: int32

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [78]:
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df=pd.DataFrame({'Date':np.random.choice(date_rng,size=20),'Category':np.random.choice(['A','B','C'],size=20),
                 'Value':np.random.randint(1,100,size=20)})
pivot_table=df.pivot_table(values='Value',index='Date',columns='Category',aggfunc="sum")
pivot_table

Category        A     B      C
Date
2022-01-02    NaN  98.0   54.0
2022-01-03   28.0  37.0   71.0
2022-01-04    NaN   NaN  105.0
2022-01-05  142.0  94.0   98.0
2022-01-06   83.0  33.0    NaN
2022-01-07    NaN   NaN   36.0
2022-01-08   82.0  25.0   59.0
2022-01-10   88.0   NaN   16.0

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [82]:
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': 
                   np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)
pivot_table=df.pivot_table(values='Revenue',index='Year',columns='Quarter',aggfunc='mean')
pivot_table

Original DataFrame:
    Year Quarter  Revenue
0   2021      Q3      925
1   2021      Q1      971
2   2020      Q4      357
3   2021      Q1      876
4   2021      Q1      712
5   2020      Q1      788
6   2020      Q3       39
7   2020      Q1      186
8   2022      Q2      954
9   2020      Q4      649
10  2021      Q3      545
11  2022      Q3      953

Quarter     Q1     Q2     Q3     Q4
Year
2020     487.0    NaN   39.0  503.0
2021     853.0    NaN  735.0    NaN
2022       NaN  954.0  953.0    NaN

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [85]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)
df=df.apply(lambda x:x*2)
print(df)

    A   B   C
0  49  43  73
1  31  82  31
2  59  26  40
3  77  79  70
4   2  70  98
     A    B    C
0   98   86  146
1   62  164   62
2  118   52   80
3  154  158  140
4    4  140  196

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [87]:
df=pd.DataFrame(np.random.randint(1,100,size=(6,3)),columns=['A','B','C'])
print(df)
df['New Column']=df.apply(lambda row: row.sum(),axis=1)
df

    A   B   C
0   1  72  34
1  64   5  59
2   5  16  63
3  96  62  62
4  74  37  83
5  49  53  13

    A   B   C  New Column
0   1  72  34         107
1  64   5  59         128
2   5  16  63          84
3  96  62  62         220
4  74  37  83         194
5  49  53  13         115

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [90]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'strawberry'])
print("Original Series:")
print(text_data)

uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    strawberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    STRAWBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [91]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'strawberry'])
print("Original Series:")
print(text_data)

three_char=text_data.str[:3]
print(three_char)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    strawberry
dtype: object
0    app
1    ban
2    che
3    dat
4    str
dtype: object