# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [2]:
import sqlite3
def CreateDatabase(databasename):
    connection=sqlite3.connect(f"{databasename}.db")
    connection.close()
    print(f"Database {databasename} created successfuly")

CreateDatabase("test")

Database test created successfuly

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [7]:
def CreateTable():
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS employees (
                   id INTEGER PRIMARY KEY,
                   name TEXT NOT NULL,
                   age INTEGER NOT NULL,
                   department TEXT NOT NULL
                   )''')
    connection.commit()
    connection.close()
    print("Table Created successfully")

CreateTable()

Table Created successfully

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [9]:
def InsertEmployee(id,name,age,department):
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute('''INSERT INTO employees(id,name,age,department)
                   VALUES(?,?,?,?)''',(id,name,age,department))
    connection.commit()
    connection.close()
InsertEmployee(2,'Ashir',15,'Finance')

2. Insert at least 5 different employees into the `employees` table.

In [10]:
InsertEmployee(3,'Ali Raza',21,'Medical Billing')
InsertEmployee(4,'Ahmed',19,'HR')
InsertEmployee(5,'Umer',20,'Sales')
InsertEmployee(6,'Hassan',18,'Public Relations')
InsertEmployee(7,'Mobeen',19,'Management')

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [27]:
def display_records():
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute('SELECT * FROM employees')
    rows=cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()

display_records()

(1, 'Amir Hashmi', 18, 'IT')
(2, 'Ashir', 15, 'Finance')
(3, 'Ali Raza', 21, 'Medical Billing')
(4, 'Ahmed', 19, 'HR')
(5, 'Umer', 20, 'Sales')
(6, 'Hassan', 18, 'HR')
(7, 'Mobeen', 19, 'IT')

2. Write a Python function to fetch and display all employees from a specific department.

In [25]:
def get_employee_by_department(department_name):
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE department=?',(department_name,))
    rows=cursor.fetchall()
    connection.close()
    for row in rows:
        print(row)

get_employee_by_department("IT")

(1, 'Amir Hashmi', 18, 'IT')
(7, 'Mobeen', 19, 'IT')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [23]:
def update_department(id,newdepartment):
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute('''UPDATE employees SET department=? WHERE id=?''',(newdepartment,id))
    connection.commit()
    connection.close()

update_department(7,'IT')

2. Update the department of at least 2 employees and display the updated records.

In [28]:
update_department(7,'IT') 
update_department(6,'HR') 

display_records()

(1, 'Amir Hashmi', 18, 'IT')
(2, 'Ashir', 15, 'Finance')
(3, 'Ali Raza', 21, 'Medical Billing')
(4, 'Ahmed', 19, 'HR')
(5, 'Umer', 20, 'Sales')
(6, 'Hassan', 18, 'HR')
(7, 'Mobeen', 19, 'IT')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [30]:
def delete_employee(id):
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute('''DELETE FROM employees WHERE id=?''',(id,))
    connection.commit()
    connection.close()

2. Delete at least 1 employee and display the remaining records.

In [31]:
delete_employee(6)
display_records()

(1, 'Amir Hashmi', 18, 'IT')
(2, 'Ashir', 15, 'Finance')
(3, 'Ali Raza', 21, 'Medical Billing')
(4, 'Ahmed', 19, 'HR')
(5, 'Umer', 20, 'Sales')
(7, 'Mobeen', 19, 'IT')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [32]:
def display_records_with_age(age):
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE age>?',(age,))
    rows=cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()

display_records_with_age(18)

(3, 'Ali Raza', 21, 'Medical Billing')
(4, 'Ahmed', 19, 'HR')
(5, 'Umer', 20, 'Sales')
(7, 'Mobeen', 19, 'IT')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [40]:
def display_records_with_letter(start_letter):
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?',(start_letter+'%',))
    rows=cursor.fetchall()
    for row in rows:
        print(row)
    connection.close()

display_records_with_letter('U')

(5, 'Umer', 20, 'Sales')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [45]:
def InsertEmployee_Transaction(employees):
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    try:
        cursor.executemany('''INSERT INTO employees(id,name,age,department)
                       VALUES(?,?,?,?)''',(employees))
        connection.commit()
        print("Sucessfully Inserted all records")
    except Exception as err:
        connection.rollback()
        print(err)
    finally:
        connection.close()

employees = [
    (6, 'Frank', 40, 'Finance'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
     
]
InsertEmployee_Transaction(employees)
display_records()

UNIQUE constraint failed: employees.id
(1, 'Amir Hashmi', 18, 'IT')
(2, 'Ashir', 15, 'Finance')
(3, 'Ali Raza', 21, 'Medical Billing')
(4, 'Ahmed', 19, 'HR')
(5, 'Umer', 20, 'Sales')
(6, 'Frank', 40, 'Finance')
(7, 'Mobeen', 19, 'IT')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 38, 'Sales')

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [53]:
def UpdateEmployee_Transaction(updates):
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    try:
        cursor.executemany('''UPDATE employees SET age=? WHERE id=?''',updates)
        connection.commit()
        print("Sucessfully Updated all records")
    except Exception as err:
        connection.rollback()
        print(err)
    finally:
        connection.close()

updates = [
    (33, 7),
    (26, 2),
    (33, 3),
    (24, 5)
]
UpdateEmployee_Transaction(updates)
display_records()

Sucessfully Updated all records
(1, 'Amir Hashmi', 32, 'IT')
(2, 'Ashir', 26, 'Finance')
(3, 'Ali Raza', 33, 'Medical Billing')
(4, 'Ahmed', 41, 'HR')
(5, 'Umer', 24, 'Sales')
(6, 'Frank', 40, 'Finance')
(7, 'Mobeen', 33, 'IT')
(8, 'Hannah', 35, 'Marketing')
(9, 'Ivan', 38, 'Sales')

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [56]:
connection=sqlite3.connect("test.db")
cursor=connection.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS departments(
               id INTEGER PRIMARY KEY,
               name TEXT NOT NULL)''')
connection.commit()
connection.close()

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [68]:
def add_department_foriegn_key():
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.executescript('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
    ''')
    connection.commit()
    connection.close()

add_department_foriegn_key()

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [69]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()


insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Error occurred, transaction rolled back.
UNIQUE constraint failed: departments.id

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [71]:
def create_name_index():
    connection=sqlite3.connect("test.db")
    cursor=connection.cursor()
    cursor.execute("CREATE INDEX idx_name ON employees(name)")
    connection.commit()
    connection.close()

create_name_index()

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [73]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

fetch_employees_name_starts_with_performance('A')

Time taken: 0.0006582736968994141 seconds
(1, 'Amir Hashmi', 32, 'IT', None)
(2, 'Ashir', 26, 'Finance', None)
(3, 'Ali Raza', 33, 'Medical Billing', None)
(4, 'Ahmed', 41, 'HR', None)

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [74]:
import shutil
def backup_database():
    shutil.copy('test.db','backup.db')
    print("Backup Successful")
backup_database()

Backup Successful

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [75]:
import shutil
def restore_database():
    shutil.copy('backup.db','test.db')
    print("Restore Successful")
restore_database()

Restore Successful