## Label Encoder

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
df= pd.DataFrame({"color":['red','blue','green','green','red']})
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [4]:
# Make instance of Label Encoder
lbl_encoder=LabelEncoder()
encoded_color=lbl_encoder.fit_transform(df[['color']])

d:\Github Repos\AI-ML-Work\venv\Lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [6]:
# Getting Output
lbl_encoder.transform([['red']])
encoded_color_df= pd.DataFrame(encoded_color)
encoded_df=pd.concat([df,encoded_color_df],axis=1)
encoded_df.head()

d:\Github Repos\AI-ML-Work\venv\Lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

   color  0
0    red  2
1   blue  0
2  green  1
3  green  1
4    red  2

## Ordinal Encoder

In [7]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

In [8]:
df=pd.DataFrame({'size':['small','medium','large','medium','small','large']})
df.head()

     size
0   small
1  medium
2   large
3  medium
4   small

In [12]:
# Create Instance of ordinal Encoder and assign order to categories
ord_encoder= OrdinalEncoder(categories=[['small','medium','large']])
encoded_size= ord_encoder.fit_transform(df[['size']])
encoded_size_df= pd.DataFrame(encoded_size)

In [13]:
ord_encoder.transform([['small']])

d:\Github Repos\AI-ML-Work\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

In [14]:
df_encoded= pd.concat([df,encoded_size_df],axis=1)
df_encoded.head()

     size    0
0   small  0.0
1  medium  1.0
2   large  2.0
3  medium  1.0
4   small  0.0