# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tpl=(1,2,3,4,5,6,7,8,9,10)
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
print(tpl[0])
print(tpl[len(tpl)//2])
print(tpl[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [3]:
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [5]:
nested_tuple=((1,2,3),
              (4,5,6),
              (7,8,9))
for row in nested_tuple:
    print(row)
print(nested_tuple[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [6]:
tpl1=(1,2,3)
tpl2=(4,5,6)
concat_tuple=tpl1+tpl2
print(concat_tuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [9]:
duplicate_tuple=(1,3,4,3,2,1,2,3)
print("Count of 3 in tuple:",duplicate_tuple.count(3))
print("Index of 1st occurence of 3 in tuple:",duplicate_tuple.index(3))

Count of 3 in tuple: 3
Index of 1st occurence of 3 in tuple: 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [11]:
tpl=("AmirHashmi","UETLahore",3.803,18,'A')
name,university,cgpa,age,section=tpl
print(name,university,cgpa,age,section)

AmirHashmi UETLahore 3.803 18 A

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [12]:
lst=[1,2,3,4,5]
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [14]:
nested_tuple=((1,2,3),
              (4,5,6),
              (7,8,9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [15]:
tpl=(1,2,3,4,5)
lst=list(tpl)
lst.append(6)
tpl=tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [16]:
tpl=('A','m','i','r')
joinedstr=''.join(tpl)
print(joinedstr)

Amir

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [17]:
tempratures={('Lahore','Karachi'): 37, ('Quetta','Peshawar'):45}
print(tempratures)

{('Lahore', 'Karachi'): 37, ('Quetta', 'Peshawar'): 45}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [18]:
nested_tuple=((1,2,3),
              (4,5,6),
              (7,8,9))
for tpl in nested_tuple:
    for element in tpl:
        print(element,end=" ")
    print()

1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [19]:
duplicate_tuple=(1,3,4,3,2,1,2,3)
duplicate_removed=tuple(set(duplicate_tuple))
print(duplicate_removed)

(1, 2, 3, 4)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [20]:
def MinMaxSum(tpl):
    return (min(tpl),max(tpl),sum(tpl))

minimum,maximum,sumres=MinMaxSum((1,2,3,4,5))
print(f"Minimum: {minimum}")
print(f"Maximum: {maximum}")
print(f"Sum: {sumres}")

Minimum: 1
Maximum: 5
Sum: 15